* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

body {
    max-width: 900px;
    margin: auto;
    

    main {
        .carousel {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .carousel-inner {
                .carousel-item {
                    img {
                        
                        width: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }
    }


    footer {
        position: fixed;
        bottom: 0;    
        width: 100%;
        color: white;
        background-color: azure;
        max-width: 900px;
    }
}