* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}


body {
    max-width: 900px;
    margin: auto;
    
    .query {
        color:rgb(113, 113, 192);
        text-decoration: underline;
        display: inline;
    }
    header {
        nav.navbar {
            .container-fluid{
                .navbar-brand:hover {
                    transition-duration: 1s;
                    color:rgb(2, 222, 178);
                }

            }

        }
    }

    main {
        .carousel {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .carousel-inner {
                .carousel-item {
                    img {
                        
                        width: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }
        .container {
            width: 90%;
            border: 1px solid;
            margin: auto;
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: aliceblue;
            
            .card {
                height: 350px;
                width: 200px;
                
                img {
                    height: 50%;
                    width: 100%;
                    object-fit: cover;

                    
                }
                .card-body {
                    height: 50%;
                    width: 100%;
                }
            }
        }
        .prod-container {
            .row {
                display: flex;
                .col-6 {
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
        }
        
        
    }


    footer {
        position: fixed;
        bottom: 0;    
        width: 100%;
        color: white;
        background-color: azure;
        max-width: 900px;
    }
}