{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sign up!
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #121212;">
        <div class="card shadow-lg border-0" style="width: 400px; background-color: #1E1E1E; color: #fff;">
            <div class="card-header text-center">
                <h4>Sign up</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-100 mt-3">Sign up</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a class="link text-white" href="{% url 'login' %}">Already have an account? Log in</a>
            </div>
        </div>
    </div>
{% endblock %}
