{% extends 'base.html' %}
{% load static %}

{% block title %}
products
{% endblock %}

{% block content %}
<section id="products">
  <div class="container">
    {% for p in product_list %}
    <!-- Code for single card starts here -->
    <div class="card" >
      <img src="{{p.pic.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="{% url 'p_details' p.pk %}">
          <h5 class="card-title">{{p.name}}</h5>
        </a>
        <p>Rs.{{p.price}}</p>
        {% if not user.is_staff %}
        <a href="{% url 'cart:add_to_cart' p.id %}" class="btn btn-primary">Add To Cart</a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock %}