{% extends 'base.html' %}
{% load static %}

{% block title %}
   {{ product.name }}
{% endblock %}

{% block content %}

<div class="prod-container">
   <div class="row align-items-center">
     <div class="col-6 prod-img">
      <img src="{{product.pic.url}}" alt="">

     </div>
   <div class="col-6">
      <div>
         <h2>{{product.name}}</h2>
         <p>Rs. {{product.price}}</p>
      </div>
      <div>
         <p class="prod-description">
            {{product.description}}
         </p>
         <a href="{% url 'editProd' product.pk %}">Edit Product</a>
      </div>
   
   </div>
   </div>
 </div>
{% endblock %}